*{
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
}
.list_name{
    font-size: x-large;
    color: black;
    text-shadow:-2px -2px white;
    text-align: center;
    margin-top: 100px;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.54);
    border-radius: 10px;
    padding: 30px;
    width:600px;
    gap: 15px;
    border: 2px solid;
}
button{
    background-color: white ;
    color: black;
    border-radius: 5px;
    height:25px;
    width:70px;
    border: 2px solid;
}
body{
    height: 100vh;
    background-size: cover;
    background-image: url(https://img.freepik.com/free-photo/office-supplies-with-keyboard-gray-desk_23-2148052624.jpg?semt=ais_hybrid&w=740&q=80);
    justify-content: center;
}

ul {
    list-style: disc;
    padding-left: 20px; 
}

li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:500px;
    background-color: rgba(0, 0, 0, 0.438);
    padding: 15px;
    border-radius: 10px;
}
#time{
    height:30px;
    width: 80px;
    text-indent: 2px;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid;

}
#text{
    height:30px;
    width:300px;
    border-radius: 5px;
    text-indent: 5px;
    font-size: 15px;
    border: 2px solid;

}
.inputs{
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#list{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 500px;
}

